@font-face {
  font: {
    family: 'Open Sans';
    weight: 400;
    style: normal;
  };
  src: url('../assets/font/open_sans_regular.woff2') format('woff2');
}

@font-face {
  font: {
    family: 'Open Sans';
    weight: 600;
    style: normal;
  };
  src: url('../assets/font/open_sans_semi_bold.woff2') format('woff2');
}
