@font-face {
  font: {
    family: 'icomoon';
    weight: normal;
    style: normal;
  };
  src: url('../assets/iconfont/icomoon.woff') format('woff'),
    url('../assets/iconfont/icomoon.svg') format('svg');
}

.icon {
  display: inline-flex;
  font: {
    family: 'icomoon' !important;
    weight: normal;
    size: 24px;
    style: normal;
    variant: normal;
  };
  text-transform: none;
  line-height: 1;
  color: inherit;
}

.Calendar-icon:before {
  content: "\e901";
}
.Clear-icon:before {
  content: "\e902";
}
.Close-icon:before {
  content: "\e909";
}
.Delete-icon:before {
  content: "\e90a";
}
.Done-icon:before {
  content: "\e90b";
}
.MoreVert-icon:before {
  content: "\e90c";
}
.ArowDropDown-icon:before {
  content: "\e90d";
}
.ArrowForward-icon:before {
  content: "\e90e";
}
.ArrowDropUp-icon:before {
  content: "\e90f";
}
.ArrowBack-icon:before {
  content: "\e910";
}
.Hide-icon:before {
  content: "\e911";
}
.Show-icon:before {
  content: "\e912";
}
.Filter-icon:before {
  content: "\e913";
}
.Send-icon:before {
  content: "\e916";
}
.ArrowDown-icon:before {
  content: "\e917";
}
.ArrowUp-icon:before {
  content: "\e918";
}
.Search-icon:before {
  content: "\e900";
}