@import './font';

.page {
  font: {
    family: 'Open Sans';
    weight: 400;
    size: 16px;
  };
  width: 100%;
  height: 100%;
  &__body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  &__wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  &__content {
    flex: auto;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}