.SwitchTrack {
  border: 1px solid #8E8E8E;
  span {
    background: #8E8E8E;
  }
}

.Input {
  &:checked {
    + .SwitchTrack {
      border-color: #579DFF;
      span {
        left: calc(3rem - 1.6px - 1.25rem - 1.5px);
        background: #579DFF;
      }
    }
  }
}